/* Override default WP style */
.categorydiv ul.categorychecklist li {
  position: relative;
}

/* Base "tyme-category" styles */
.tyme-category {
  text-decoration: none;
  position: absolute;
  right: 0;
}
.tyme-category.tyme-set-primary {
  display: none;
}

/* Hover styles */
.categorydiv li:hover .tyme-category.tyme-set-primary {
  display: inline;
}
.categorydiv li:hover .tyme-category.tyme-unset-primary {
  color: #dc3232;
}
